<div class="user-login-container">
  <h2>
    Login
  </h2>
  <form class="user-login-form">
    <br />
    <textarea id="user_name" name="user_name" rows="2" cols="30">
      {{user_name}}
    </textarea>
    <br />
    <label for="description">
      User Name:
    </label>
    <br />
    <textarea id="password" name="password" rows="5" cols="30">
      {{password}}
    </textarea>
    <br />
    <label for="guest_name">
      Password:
    </label>
    <br />
    <button type="submit" value="Submit">
      Login
    </button>
  </form>
</div>
<script src="/server.js"></script>