
<div class="row">
  <div class="col-md-12">
    <h2>LOGIN</h2>
    <form class="form login-form">
      <div class="form-group">
        <input class="form-input" type="text" id="height-feet" placeholder="heightFt"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="height-inches" placeholder="heightIn"/>
      </div>
          <div class="form-group">
        <input class="form-input" type="password" id="gender" placeholder="gender"/>
      </div>
               <div class="form-group">
        <input class="form-input" type="password" id="birthdate" placeholder="birthDate"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">New Quest</button>
      </div>
    </form>
  </div>










