
<div class="row">
  <div class="col-md-6">
  <h2>Submit your current information and launch a new Quest!</h2>
 
  <div class="row">
    <div class="col-md-6">
      <form class="form profile-form">
        <div class="form-group">
          <input class="form-input" type="text" id="heightFt-profile" placeholder="Height in Feet"/>
        </div>
        <div class="form-group">
          <input class="form-input" type="text" id="heightIn-profile" placeholder="Height in Inches"/>
        </div>
            <div class="form-group">
          <input class="form-input" type="text" id="gender-profile" placeholder="Gender"/>
        </div>
          <div class="form-group">
          <input class="form-input" type="text" id="age-profile" placeholder="Age"/>
        </div>
      </form>
    </div>

      <div class="col-md-6">
        <form class="form profile-form">
          <div class="form-group">
            <input class="form-input" type="text" id="heightFt-profile" placeholder="Height in Feet"/>
          </div>
          <div class="form-group">
            <input class="form-input" type="text" id="heightIn-profile" placeholder="Height in Inches"/>
          </div>
              <div class="form-group">
            <input class="form-input" type="text" id="gender-profile" placeholder="Gender"/>
          </div>
            <div class="form-group">
            <input class="form-input" type="text" id="age-profile" placeholder="Age"/>
          </div>
        </form>
        </div>


        <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary" type="submit">NEW ACTIVE QUEST</button>
              </div>
        </div>
      </div>
    </div>
  
  <div class="col-md-6">
   <h2>Active Quest</h2>
  </div>      
</div>
  </div>










