
<div class="row">
  <div class="col-md-12">
    <h2>PROFILE</h2>

    <form class="form profile-form">
      <div class="form-group">
        <input class="form-input" type="text" id="height-profile" placeholder="Height"/>
      </div>
          <div class="form-group">
        <input class="form-input" type="text" id="gender-profile" placeholder="Gender"/>
      </div>
        <div class="form-group">
        <input class="form-input" type="text" id="birthdate-profile" placeholder="Birthdate"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">PROFILE</button>
      </div>
    </form>
  </div>










