
<div class="row">
  <div class="col-md-6">
  <h2>Submit your current information and launch a new Quest!</h2>
 
  <div class="row">
    <div class="col-md-6">
      <form class="form profile-form">
        <div class="form-group">
          <input class="form-input" type="number" id="heightFt-profile" placeholder="Height (ft)"/>
        </div>
        <div class="form-group">
          <input class="form-input" type="number" id="heightIn-profile" placeholder="Height (in)"/>
        </div>
            <div class="form-group">
          <input class="form-input" type="text" id="gender-profile" placeholder="Gender"/>
        </div>
          <div class="form-group">
          <input class="form-input" type="number" id="age-profile" placeholder="Age"/>
        </div>
      </form>
    </div>

      <div class="col-md-6">
        <form class="form profile-form">
          <div class="form-group">
            <p>Enter the starting date for your quest below.</p>
          </div>
          <div class="form-group">
            <input class="form-input" type="date" id="startingDate-profile" placeholder="Starting Date"/>
          </div>
          <div class="form-group">
            <input class="form-input" type="number" id="startingWeight-profile" placeholder="Starting Weight"/>
          </div>
              <div class="form-group">
            <input class="form-input" type="number" id="goalWeight-profile" placeholder="Goal Weight"/>
          </div>
        </form>
        </div>


        <div class="col-md-12">
          <form class="form profile-form">
              <div class="form-group">
                <button class="btn btn-primary" type="submit">NEW ACTIVE QUEST</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  
  <div class="col-md-6">
    {{#if quests.length}}
  <div class="col-md-6 quest-list">
    <h3>QUESTS</h3>

    {{#each quests as |quest|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/quest/{{quest.id}}">{{quest.startignDate}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{quest.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  </div>      
</div>
  </div>










