header, .project:not(:last-child) {
  border-bottom: 1px solid white;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.profile-name {
  color: #063572;
  font-weight: bold;
}

  #gender::placeholder,
  #starting_date::placeholder {
    font-family: inherit;
    /* 1 */
    font-size: 1rem;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
  }
